/* Card.css */

.normal-type {
    background-color: #a8a878; 
    color: #fff; 
  }
  
  .fire-type {
    background-color: #f08030; 
    color: #fff; 
  }
  
  .water-type {
    background-color: #6890f0; 
    color: #fff; 
  }
  
  .electric-type {
    background-color: #f8d030; 
    color: #000; 
  }
  
  .grass-type {
    background-color: #78c850; 
    color: #fff; 
  }
  
  .ice-type {
    background-color: #98d8d8; 
    color: #000; 
  }
  
  .fighting-type {
    background-color: #c03028; 
    color: #fff; 
  }
  
  .poison-type {
    background-color: #a040a0; 
    color: #fff; 
  }
  
  .ground-type {
    background-color: #e0c068; 
    color: #000; 
  }
  
  .flying-type {
    background-color: #a890f0;
    color: #fff; 
  }
  
  .psychic-type {
    background-color: #f85888; 
    color: #fff; 
  }
  
  .bug-type {
    background-color: #a8b820; 
    color: #fff; 
  }
  
  .rock-type {
    background-color: #b8a038; 
    color: #fff; 
  }
  
  .ghost-type {
    background-color: #705898; 
    color: #fff; 
  }
  
  .dragon-type {
    background-color: #7038f8; 
    color: #fff; 
  }
  
  .dark-type {
    background-color: #705848; 
    color: #fff; 
  }
  
  .steel-type {
    background-color: #b8b8d0; /* สีน้ำเงินเข้ม */
    color: #000; /* สีข้อความ */
  }
  
  .fairy-type {
    background-color: #ee99ac; /* สีชมพูอ่อน */
    color: #000; /* สีข้อความ */
  }
  