.normal-type {
  background-color: #dcdcdc; 
  color: #fff; 
}
  
.fire-type {
  background-color: #ff6900; 
  color: #fff;  
}
  
.water-type {
  background-color: #14b9ff; 
  color: #fff; 
}
  
.electric-type {
  background-color: #ffe100; 
  color: #fff; 
}
  
.grass-type {
  background-color: #b4f000; 
  color: #fff; 
}
  
.ice-type {
  background-color: #14f5ff; 
  color: #fff; 
}
  
.fighting-type {
  background-color: #dc6900; 
  color: #fff; 
}
  
.poison-type {
  background-color: #d28cd2; 
  color: #fff; 
}
  
.ground-type {
  background-color: #fac85a; 
  color: #fff; 
}
  
.flying-type {
  background-color: #78dcff;
  color: #fff; 
}
  
.psychic-type {
  background-color: #f08cdc; 
  color: #fff; 
}
  
.bug-type {
  background-color: #46c846; 
  color: #fff; 
}
  
.rock-type {
  background-color: #b48c64; 
  color: #fff; 
}
  
.ghost-type {
  background-color: #a08cff; 
  color: #fff; 
}
  
.dragon-type {
  background-color: #5078dc; 
  color: #fff; 
}
  
.dark-type {
  background-color: #787878; 
  color: #fff; 
}
  
.steel-type {
  background-color: #aac8f0; 
  color: #000; 
}
  
.fairy-type {
  background-color: #ffafdc; 
  color: #fff; 
}
  